@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> <!--so this is a razor component & shared component called surveypromopt in which we can see under
 shared folder in our solution explorer ALSO the statement "How is Blazor working for you?" is what we see on our browser also
-->

